$main: #bb2649;
$accent: #2f4858;
$light: #fffcf8;
$dark: #252525;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $light;
}

a {
    text-decoration: none;
}

p,
a {
    color: $dark;
}

.ant-btn-primary {
    background-color: $accent;

    &:hover {
        background-color: $accent !important;
        filter: brightness(120%);
    }
}

.ant-btn-default {
    background-color: $light;
    color: $accent;

    &:hover {
        border-color: $accent !important;
        color: $accent !important;
    }
}
